[worldserver]

# 周末经验增益倍数
WeekendBonus.Multiplier.Experience = 2.0

# 周末从任务中掠夺和奖励的金钱倍数
WeekendBonus.Multiplier.Money = 2.0

# 周末职业技能提升的倍数
WeekendBonus.Multiplier.Professions = 2

# 周末声望增益的倍数
WeekendBonus.Multiplier.Reputation = 2.0

# 周末武器和防御技能提升的倍数
WeekendBonus.Multiplier.Proficiencies = 2
